.deck-delete-button-wrapper svg:hover {
    stroke: red;
}

.deck-details div.deck-stat.visibility {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deck-stat.visibility .dropdown {
    margin-left: 0.5rem;
    width: 100%;
}

.dropdown-toggle.visibility {
    padding-left: 0.3em;
    height: 2em;
    border: none;
    outline: none;
    box-shadow: none;
    transition: transform 0.2s linear;
}

.deck.card .dropdown-menu.show {
    transform: translate3d(34.5px, 13px, 0px) !important;
}

.deck.card .dropdown-menu.show .dropdown-item {
    font-size: 0.9rem;
}

.dropdown-toggle.visibility:focus,
.dropdown-toggle.visibility:focus-visible
.dropdown-toggle.visibility:checked,
.dropdown-toggle.visibility:active,
.dropdown-toggle.visibility:disabled {
    border: none;
}

.dropdown-toggle.visibility:hover {
    color: var(--color-tan);
    transform: scale(1.1);
}
